<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>检测外链存活</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
<div class="table-responsive">
  <table class="table table-hover table-striped">
      <thead>
      <tr>
            <!--<th>#</th>-->
            <th>添加日期</th>
            <th>网址</th>
            <th>存活</th>
      </tr>
      </thead>


      <tr>

            <td>dfasdf</td>
            <td>dfasdf</td>
            <!--勾号-->
            <td class="text-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></td>
      </tr>
      <tr>
            <td>adfds</td>
            <td>dfasdf</td>
            <!--叉号-->
            <td class="text-success"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
      </tr>
      <tr>
            <td>adfds</td>
            <td>dfasdf</td>
            <td>fasdfasd</td>
        </tr>
      <tr>
            <td>adfds</td>
            <td>dfasdf</td>
            <td>fasdfasd</td>
        </tr>
      <tr>
            <td>adfds</td>
            <td>dfasdf</td>
            <td>fasdfasd</td>
        </tr>
      <tr>
            <td>adfds</td>
            <td>dfasdf</td>
            <td>fasdfasd</td>
        </tr>
      <tr>
            <td>adfds</td>
            <td>dfasdf</td>
            <td>fasdfasd</td>
        </tr>

    </table>
    </div>

<form action="#" >

  链接：<input type="text" name="link">
  <input type="submit" value="提交">


</form>


</body>
</html>
